html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #FFFCFA;
}

/*Navigation Bar styling*/
nav{
    margin: 0px; 
    height: 70px;
    box-shadow: 0 1px 5px #555;
    padding-left: 30px;
    padding-right: 30px;
}
.menu-bar{
    height: 70px;
    line-height: 70px;
    vertical-align: bottom;
    margin-left: 50px; 
    vertical-align: text-bottom;
}
.menu-bar li{
     font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: #ececec;
    opacity: 1;
    padding-bottom:  0;
    margin-bottom: 0;
}
.topsocial{
    right: 0;
    height: 40px;
    float: right;
    margin-top: 15px;
}

/*banner styling*/

.banner{
    background-color: #389dde;
    text-align: center;
    height: 500px;

}
.content{
    
    padding-top: 10px;
}

.content h1{
    font-size: 70px;
    margin-top:  5%;
    color: white;
}

.content span{
    font-size: 25px;
}

#notify-me {
    margin-top: 60px;
    cursor: pointer;
    border: 0;
    background-color: #fff;
    height: 48px;
    width: 180px;
    font-size: 18px;
    color: #389dde;
}

#notify-box {   
    display: none;
    font-family: Palatino;
}

#notify-box-wrapper {
    padding: .7em 1em;
    margin-bottom: 1em;
}

/*after banner styling*/
.main-content {
    margin-bottom: 50px;
    font-family: Palatino;
    /*margin-top: 64px;*/
    height: 400px;
    z-index: 999;
}
.main-content h2 {
    text-align: left;
    display: inline-block;
    padding: 0;
    width: 100%;
    font-size: 2.8em;
    color: #389dde;
}

.halfpara{
    font-size: 20px;
    text-align: center;
    text-align: justify;
    text-justify: newspaper;
    width: 40%;
    margin-right: 0;
    margin-top: 30px;
}

.fullpara{
    font-size: 20px;
    text-align: center;
    text-align: justify;
    text-justify: newspaper;
    margin-right: 0;
    margin-top: 30px;
}

.main-content img {
    width: 40%;
    float: right;

}

.main-content h3 {
    text-align: left;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 160%;
}

#sponsors{
    height: 300px;
}

#speakers p,#sponsors p {
    text-align: left;
}

.main-content:last-of-type {
    margin-bottom: 70px;
}


/*map decoration*/

#map-canvas {
    position: relative;
    width: 40%;
    /*height: 200px;*/
    padding-bottom: 50%;
    /*float: left;*/
    margin-top: -40px;
    margin-bottom: 20px;
    float: right;
}

#venue h5 {
    /*float: left;*/
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
}

/*------------------------------------------*/
footer {
    text-align: center;
}

input {
    border: 1px solid #ccc;
    font-size: 16px;
    padding: 8px;
}



.row {
    width: 100%;
}

#about-text-about {
    font-size: 20px;
    display: inline;
    text-decoration: none;
    margin-left: -30px;
}

#about-text-speakers {
    font-size: 20px;
    display: inline;
    text-decoration: none;
    margin-left: 120px;
}

#about-text-sponsors {
    font-size: 20px;
    display: inline;
    text-decoration: none;
    margin-left: 120px;
}

#about-text-register {
    font-size: 20px;
    display: inline;
    text-decoration: none;
    margin-left: 120px;
}

#about-text-venue {
    font-size: 20px;
    display: inline;
    text-decoration: none;
    margin-left: 120px;
}

#for-nav-div {
    padding-top: 5px;
}

#anchor-id {
    color: #fff;
}

a.mouse-top:link {
    text-decoration: none;
}

a.mouse-top:hover {
    /*text-decoration: underline;*/
}






#date-venue,#coming-soon {
    color: #e66;
    font-family: Palatino;
    font-size: 28px;
    margin: 10px auto 5px;
}

#coming-soon {
    margin-top: 10px;
    width: 320px;
}

